@media  (min-width: 1600px){
  body {
    min-width: 1596px;
    div.container,
    section.container,
    article.container{
      width: 1596px;
      [class*="g"]{
        margin-left: 20px;
        margin-right: 20px;
      }
      .g1 {
        width:93px;
      }

      .g2 {
        width:226px;
      }

      .g3 {
        width:359px;
      }

      .g4 {
        width:492px;
      }

      .g5 {
        width:625px;
      }

      .g6 {
        width:758px;
      }

      .g7 {
        width:891px;
      }

      .g8 {
        width:1024px;
      }

      .g9 {
        width:1157px;
      }

      .g10 {
        width:1290px;
      }

      .g11 {
        width:1423px;
      }

      .g12 {
        width:1556px;
      }

    }
  }
}
