<div id="main-page-banner">
  <div class="banner-section-bg"></div>
  <div class="banner-container">
    <%= image_tag('qc-banner-1.jpg') %>
    <div class="banner-description-section">
      <h2>Safe food</h2>
      <p>Lorem ispum some text blah blha blha and blah</p>
    </div>
  </div>
  <ul class="banner-switcher"></ul>
</div>
<br class="clear">
