*{
  -webkit-font-smoothing: antialiased;

  &:after{
    -webkit-font-smoothing: antialiased;
  }

  &:before{
    -webkit-font-smoothing: antialiased;
  }
}

::selection{
  background: #dc0055;
  color: white;
  text-shadow: 0 0 0;
  text-decoration: none;
}

::-moz-selection{
  background: #dc0055;
  color: white;
  text-shadow: 0 0 0;
  text-decoration: none;
}

html, body{
  font-size: 14px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
}
h1,.h1{
  font-size:32px;
  line-height:1.5;    /* 48px */
}
h2,.h2{
  font-size:1.5em;    /* 24px */
  line-height:1;      /* 24px */
}
h3,.h3{
  font-size:20px;
  line-height:1.2;    /* 24px */
}
h4,.h4{
  font-size:18px;
  line-height:1.333;  /* 24px */
}
h5,.h5{
  font-size:16px;
  line-height:1.5;    /* 24px */
}
h6,.h6{
  font-size:16px;
  line-height:1.5;    /* 24px */
}

@media  (min-width: 960px){
  html, body{
    font-size: 14px;
    line-height: 20px;
  }
}

@media  (min-width: 1200px){
  html, body{
    font-size: 14px;
    line-height: 20px;
  }
}

@media  (min-width: 1440px){
  html, body{
    font-size: 16px;
    line-height: 24px;
  }
  h1,.h1{
    font-size:36px;
    line-height:1.5;    /* 48px */
  }
  h2,.h2{
    font-size:1.6em;    /* 24px */
    line-height:1;      /* 24px */
  }
  h3,.h3{
    font-size:24px;
    line-height:1.2;    /* 24px */
  }
  h4,.h4{
    font-size:22px;
    line-height:1.333;  /* 24px */
  }
  h5,.h5{
    font-size:18px;
    font-size:1rem;     /* 16px */
    line-height:1.5;    /* 24px */
  }
  h6,.h6{
    font-size:16px;
    line-height:1.5;    /* 24px */
  }
}
