*{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-hyphens: auto;

  &:after{
    -webkit-font-smoothing: antialiased;
  }

  &:before{
    -webkit-font-smoothing: antialiased;
  }
}
input[type="password"] {
  -webkit-text-security: square;
}
img{
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
@mixin text-render{
  text-align: left;
  hyphens: auto;
  -webkit-hyphens: auto;
  -webkit-hyphenate-character: "\2010";
  -webkit-hyphenate-limit-after: 1;
  -webkit-hyphenate-limit-before: 3;
  -moz-hyphens: auto;
  overflow-wrap: hyphenate;
}
::selection{
  background: #2d4994;
  color: #ee3343;
  text-shadow: 0 0 0;
  text-decoration: none;
  -webkit-font-smoothing: none;
  font-size: 150%;
}

::-moz-selection{
  background: #dc0055;
  color: white;
  text-shadow: 0 0 0;
  text-decoration: none;
}

h1, h2, h3, h4, h5{
  color: #334d99;
  font-weight: 400;
}

p{
  color: #353535;
}

html, body{
  font-size: 16px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
}
h1,.h1{
  font-size:32px;
  line-height:1.5;    /* 48px */
}
h2,.h2{
  font-size:1.5em;    /* 24px */
  line-height:1;      /* 24px */
}
h3,.h3{
  font-size:20px;
  line-height:1.2;    /* 24px */
}
h4,.h4{
  font-size:18px;
  line-height:1.333;  /* 24px */
}
h5,.h5{
  font-size:16px;
  line-height:1.5;    /* 24px */
}
h6,.h6{
  font-size:16px;
  line-height:1.5;    /* 24px */
}

@media  (min-width: 960px){
  html, body{
    font-size: 16px;
    line-height: 24px;
  }
}

@media  (min-width: 1200px){
  html, body{
    font-size: 16px;
    line-height: 24px;
  }
}

@media  (min-width: 1440px){
  html, body{
    font-size: 16px;
    line-height: 24px;
  }
  h1,.h1{
    font-size:36px;
    line-height:1.5;    /* 48px */
  }
  h2,.h2{
    font-size:1.6em;    /* 24px */
    line-height:1;      /* 24px */
  }
  h3,.h3{
    font-size:24px;
    line-height:1.2;    /* 24px */
  }
  h4,.h4{
    font-size:22px;
    line-height:1.333;  /* 24px */
  }
  h5,.h5{
    font-size:18px;
    font-size:1rem;     /* 16px */
    line-height:1.5;    /* 24px */
  }
  h6,.h6{
    font-size:16px;
    line-height:1.5;    /* 24px */
  }
}
