#main-header{
  height: 480px;
  background: url(h-bg-1.jpg) repeat-x transparent;
  .container{
    .navigation-wrapper{
      nav{
        margin: 2em 0 0 0;
        padding: 0;
        height: 60px;
        width: inherit;
        float: right;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background-color: transparent;
        //background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjEzIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwLjEzIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
        //background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.13) 0%, rgba(255,255,255,.13) 100%);
        //background-image: -o-linear-gradient(bottom, rgba(0,0,0,.13) 0%, rgba(255,255,255,.13) 100%);
        //background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.13) 0%, rgba(255,255,255,.13) 100%);
        //background-image: linear-gradient(bottom, rgba(0,0,0,.13) 0%, rgba(255,255,255,.13) 100%);
        background-image: url(nav-main-bg.png);
        background-repeat: repeat-x;
        ul{
          margin: 0;
          padding: 0;
          list-style: none;
          li{
            float: left;
            margin-right: 1em;
            line-height: 60px;
            @media  (min-width: 960px){
              margin-right: 1em;
            }
            @media  (min-width: 1200px){
              margin-right: 2em;
            }
            @media  (min-width: 1440px){
              margin-right: 4em;
            }
            @media  (min-width: 1600px){
              margin-right: 6em;
            }
            @media  (min-width: 1920px){
              margin-right: 8em;
            }
            a{
              text-decoration: none;
              border-bottom: 1px solid rgba(255, 255, 255, 0);
              color: #878787;
              text-shadow: 0 1px 0 rgba(255,255,255,.75);
              &:hover{
                border-bottom: 1px solid rgba(255, 255, 255, 1);
                text-shadow: 0 0 0;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
